/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: 'Verdana', 'Dejavu Sans', 'sans-serif';
}

#element-two {
    font-size: 36px;
    color: blue;
}

#element-four {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}